@import "tailwindcss";

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(31, 41, 55, 0.4) inset !important;
    -webkit-text-fill-color: #ffffff !important;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s; /* smooth fade in Chrome */
  }

  
  